# Created by .ignore support plugin (hsz.mobi)
.idea/
.idea/workspace.xml
/backend_server/venv/
web_server/server/public/images/
web_server/server/public/javascripts/
.idea/misc.xml
.idea/newsFeed.iml
.idea/workspace.xml
*.pyc
__pychache__
node_modules/
package-lock.json
web_server/server/node_modules/