# Created by .ignore support plugin (hsz.mobi)
.idea/
/backend_server/venv/
web_server/server/public/images/
web_server/server/public/javascripts/
.idea/misc.xml
.idea/newsFeed.iml
.idea/workspace.xml
